<!DOCTYPE html>
<html>
<head><style>body{background:#1a1a1a;color:white;text-align:center;padding-top:100px;}input,button{display:block;margin:10px auto;padding:10px;width:250px;}</style></head>
<body>
    <h2 style="color:#d4af37">ACEest Login</h2>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit" style="background:#d4af37;border:none;font-weight:bold;">LOGIN</button>
    </form>
</body>
</html>
